/* Kevin */

body {
  color: #00305;
  font-size: 100%;
  font-family: Arial, 'lucinda sans unicode';
  line-height: 1.5;
  text-align: left;
}

a {
  text-decoration: none;
}

.body {
  margin: 0 auto;
  width: 70%;
  clear: both;
}

.mainHeader img {
  width: 40%;
}